/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 8:41:28 AM
    Author     : LuizÉrico
*/

/*.axis text {
    font-size: 0.9em sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.circle {
    stroke: #000;
    stroke-opacity: 1;
    fill-opacity: 1;
}
text {
    font-size: 0.9em;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {          
    display: none;
}

text {
    font-size: 0.9em;
}*/

.tooltip {   
    position: absolute;           
    text-align: left;           
    padding: 10px;             
    font: 11px sans-serif;        
    background: #EEE;   
    border: 0px;      
    border-radius: 3px;           
    pointer-events: none;
    box-shadow: 1px 1px 2px #CCC;

}


// Pie Chart
label {
    width: 100%;
    //position: absolute;
    top: 20px;
    right: 15px;
    border: 0;
    padding: 0;
}       

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #CCC;
}

.center {
    font-weight:bold;
    font-size: 15px;
}

// ColumnChart

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {          
    display: none;
}

text {
    font-size: 0.9em;
}


// XYChart
.axis text {
    font-size: 0.9em sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.circle {
    stroke: #000;
    stroke-opacity: 1;
    fill-opacity: 1;
}
text {
    font-size: 0.9em;
}

label {
    width: 100%;
    top: 20px;
    right: 15px;
    border: 0;
    padding: 0;
}